@import "tailwindcss";

@layer base {
  :root {
    --softOrange: hsl(35, 77%, 62%);
    --softRed: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayishBlue: hsl(233, 8%, 79%);
    --darkGrayishBlue: hsl(236, 13%, 42%);
    --veryDarkBlue: hsl(240, 100%, 5%);
    @apply scroll-smooth text-(--off-white);
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  body {
    @apply w-full h-full flex flex-col justify-start items-center bg-(--off-white) overflow-x-hidden  text-[15px];
  }

  /* header */
  header {
    @apply w-full bg-(--off-white)  py-8 flex justify-center items-center fixed top-0 left-1/2 -translate-x-1/2;
  }
  #logo {
    @apply w-16  h-[clamp(1.75rem,5vw,2.5rem)] bg-[url("../assets/images/logo.svg")] bg-left bg-no-repeat bg-contain cursor-pointer;
  }

  #hamburger-btn {
    @apply w-10 h-4.5 bg-[url("../assets/images/icon-menu.svg")] bg-center bg-no-repeat bg-cover cursor-pointer z-99 sm:hidden transition-all duration-500 ease-linear;
  }

  #main-menu {
    @apply flex justify-start items-start flex-col gap-6 absolute z-1 top-0 -right-full bg-(--off-white) w-65 h-svh p-8 pt-38 text-xl sm:text-base   sm:static sm:flex-row sm:w-auto sm:h-auto sm:p-0;
  }

  .menu-link {
    @apply text-(--veryDarkBlue) hover:text-(--softRed);
  }

  section,
  aside {
    @apply w-full scroll-mt-25 sm:scroll-mt-30;
  }

  /* hero */

  #hero {
    @apply grid gap-8 sm:grid-cols-2 sm:grid-rows-[300px_auto_auto] md:col-[1/3];
  }

  #hero .image {
    @apply w-full aspect-square bg-[url("../assets/images/image-web-3-mobile.jpg")] bg-center bg-no-repeat bg-cover sm:bg-[url("../assets/images/image-web-3-desktop.jpg")] h-75 sm:col-[1/3] sm:row-[1/2];
  }
  h1 {
    @apply text-(--veryDarkBlue) font-extrabold text-5xl lg:text-6xl sm:col-[1/2] sm:row-[2/4];
  }
  #hero p {
    @apply text-(--veryDarkBlue);
  }

  #hero-btn {
    @apply bg-(--softRed) font-extrabold uppercase tracking-widest px-6 py-2  w-50 h-12 hover:bg-(--veryDarkBlue) hover:text-(--off-white)  cursor-pointer;
  }
  /* aside */

  aside {
    @apply grid w-full  p-4 bg-(--veryDarkBlue) text-(--off-white);
  }

  aside article {
    @apply py-8 border-b last:border-b-0 last:pb-4;
  }

  h2 {
    @apply font-bold text-3xl text-(--softOrange) md:text-5xl;
  }
  h3 {
    @apply font-bold text-xl pb-2 hover:text-(--softOrange)  ease-in-out;
  }
  aside p {
    @apply text-sm font-normal;
  }

  /* 'Popular' section */

  #popular {
    @apply text-(--veryDarkBlue) flex flex-col md:flex-row justify-start items-start gap-8 mb-64 md:col-[1/4];
  }

  #popular article {
    @apply grid  grid-cols-[100px_auto]  grid-rows-[repeat(3,auto)] gap-x-4 w-full;
  }
  .popular-images {
    @apply col-[1/2] row-[1/4]  bg-center bg-no-repeat bg-cover;
  }
  .image_1 {
    @apply bg-[url("../assets/images/image-retro-pcs.jpg")];
  }
  .image_2 {
    @apply bg-[url("../assets/images/image-top-laptops.jpg")];
  }
  .image_3 {
    @apply bg-[url("../assets/images/image-gaming-growth.jpg")];
  }
  span {
    @apply text-(--softRed) text-4xl font-bold;
  }
  h4 {
    @apply font-bold text-lg  hover:text-(--softRed)  self-center;
  }
}

@layer utilities {
  .px-1-0 {
    @apply px-[clamp(0rem,1rem*(1200px-100vw)/(1200px-68rem),1rem)];
  }
  .transition-300 {
    @apply transition-all duration-300 ease-in-out;
  }
  .transition-500 {
    @apply transition-all duration-500 ease-linear;
  }
}
